# tasks file for webserver
- name: Install Apache Webserver
  ansible.builtin.package:
    name: apache2
    state: present
    update_cache: yes

- name: Deploy index.html
  ansible.builtin.template:
    src: index.html.j2
    dest: /var/www/html/index.html
  notify: Restart Apache

- name: Ensure Apache is started and enabled
  ansible.builtin.service:
    name: apache2
    state: started
    enabled: yes

